// Main content
$max-content-width: 1200px;
$background-color: #F4F0E8;
$alt-background-color: #dad1be;

// Fonts
$main-text-content-font: 'Lora', Georgia, 'Times New Roman', serif;
$accent-text-font: 'Playfair Display', Georgia, 'Times New Roman', serif;

// Text Colors
$main-text-content-color: rgb(58,44,33);
$accent-text-color: rgb(101,28,25);
$hyperlink-color: rgb(127,37,32);

// Navigation
$nav-height: 50px;
$nav-color: rgb(242, 234, 210);
