@use "base";
@use "typography";

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

button {
  opacity: 0.5;

  &.active {
    opacity: 1;
    font-weight: bold;
  }
}
