@use "base";
@use "typography";

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

main {
  padding-top: $nav-height;
}

button {
  opacity: 0.4;
  &.active {
    opacity: 1;
  }
}
